* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Oxanium", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; /* veya height ayarını kaldırabilirsiniz */
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Navbar CSS*/

nav {
  width: 100%;
  background-color: #121212;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#logo-box {
  float: left;
  padding-top: 5px;
}

#logo-box .logo {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}

#nav-links {
  float: right;
}

#nav-links .nav-item {
  float: left;
  margin: 4px;
}

#nav-links .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: block;
  padding: 16px;
  letter-spacing: 1px;
  transition: color 0.3s;
}

#nav-links .nav-link:hover {
  color: #00bfff;
}

/* Header CSS */

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}

header h1 {
  color: #fff;
  font-size: 70px;
}

header h2 {
  color: #fff;
  font-size: 40px;
  margin-top: 25px;
}

header h3 {
  color: #fff;
  font-size: 25px;
}

.hr-line {
  border: none;
  border-top: 5px solid #fff;
  max-width: 50%;
  margin: 2.5px auto;
}

/* Dinamik Saat CSS */
#dynamic-clock {
  color: #00bfff;
  font-size: 75px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-size {
  max-width: 100%;
  height: auto;
}

/* Portfolio */

#portfolio {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #121212;
  text-align: center;
  color: #fff;
}

#portfolio h2 {
  font-size: 50px;
  font-weight: 600;
}

#portfolio p {
  padding: 20px;
  font-size: 20px;
}

.col {
  padding: 10px;
  float: left;
  width: 33.33%;
  box-sizing: border-box;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #007bff;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.img-overlay .explanation {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  font-weight: bold;
  z-index: 1;
}

.project-description {
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #121212;
  z-index: 2;
  position: relative;
  transition: none;
}

.portfolio-item:hover {
  .img-overlay {
    opacity: 0.6;
  }
}

.project-description:hover {
  color: #fff;
  transition: none;
}

#filter-buttons {
  margin: 20px 0;
}

.filter-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #00bfff;
}
