* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxanium", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1140px;
  margin-left: 100px;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Navbar CSS*/

nav {
  background-color: #121212;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

#logo-box {
  float: left;
  padding-top: 5px;
}

#logo-box .logo {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}

#nav-links {
  float: right;
}

#nav-links .nav-item {
  float: left;
  margin: 4px;
}

#nav-links .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: block;
  padding: 16px;
  letter-spacing: 1px;
  transition: color 0.3s;
}

#nav-links .nav-link:hover {
  color: #00bfff;
}
